.project-layout {
  display: grid;
  grid-template-columns: 1fr min(64ch, 100%) 1fr;
  padding: 1rem 2rem;
  gap: 1.5rem 0;
  padding-bottom: 4rem;
  line-height: 2;
}

.project-layout > *,
::slotted(*) {
  grid-column: 2;
}

.project-layout header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 1rem;
}

.nav-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem 4rem;
}

.nav-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #d4d4d4;
}

.nav-link:hover {
  color: white;
}

.nav-link.reverse {
  flex-direction: row-reverse;
}

.project-layout hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-layout h1 {
  font-size: 2.25rem;
  font-weight: bold;
  width: 100%;
}

.subtitle {
  color: #d4d4d4;
  font-size: 1.125rem;
  font-style: italic;
}

@media (min-width: 640px) {
  .project-layout {
    padding: 2rem;
  }

  .nav-link:first-child {
    margin-left: -0.5rem;
  }
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
