:host {
  display: block;
}

h2 {
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: inherit;
  color: #a3a3a3;
  align-self: stretch;
}

p {
  align-self: stretch;

  &:not(:has(slot:empty)) {
    display: none;
  }
}

div {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  margin-bottom: 1.25rem;
}

iframe {
  border: #404040 0.25rem solid;
  border-radius: 0.75rem;
  max-width: 100%;
}
